
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 89.7vh;
    background:linear-gradient(to left,rgb(51, 50, 50),rgba(51, 49, 49, 0.651));
}

.contact-section {
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.contact-info {
    flex: 1;
    margin: 20px;
    font-size: 20px;
}

.contact-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-info p {
    margin-bottom: 1rem;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 0.5rem;
}

.contact-form {
    flex: 1;
    margin: 20px;
}

.contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 18px;

}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}